<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-heart fa-2x"></i>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Why this match?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [friend, match], url: user_friend_matches_path do |f| %>
          <div class="modal-options">
            <div class="option-card form-check-type">
              <div class="option-icon">
                <i class="fas fa-certificate"></i>
              </div>
              <input class="form-check-input-type" type="checkbox" id="inlineCheckbox1">
              <label class="form-check-label" for="inlineCheckbox1">Your Type</label>
            </div>
            <div class="option-card form-check-fun">
              <div class="option-icon">
                <i class="fas fa-smile-wink"></i>
              </div>
              <input class="form-check-input-fun" type="checkbox" id="inlineCheckbox2">
              <label class="form-check-label" for="inlineCheckbox2">Fun and Different</label>
            </div>
            <div class="option-card form-check-interest">
              <div class="option-icon">
                <i class="fas fa-palette"></i>
              </div>
              <input class="form-check-input-interest" type="checkbox" id="inlineCheckbox3">
              <label class="form-check-label" for="inlineCheckbox3">Common Interests</label>
            </div>
            <div class="option-card form-check-sexy">
              <div class="option-icon">
                <i class="fab fa-hotjar"></i>
              </div>
              <input class="form-check-input-sexy" type="checkbox" id="inlineCheckbox4">
              <label class="form-check-label" for="inlineCheckbox4">So Hot</label>
            </div>
            <div class="option-card form-check-random">
              <div class="option-icon">
                <i class="fas fa-random"></i>
              </div>
              <input class="form-check-input-random" type="checkbox" id="inlineCheckbox5">
              <label class="form-check-label" for="inlineCheckbox5">Random idea</label>
            </div>
            <div class="option-card form-check-background">
              <div class="option-icon">
                <i class="fas fa-globe-americas"></i>
              </div>
              <input class="form-check-input-background" type="checkbox" id="inlineCheckbox6">
              <label class="form-check-label" for="inlineCheckbox6">Similar background</label>
            </div>
          </div>
          <%= f.input :matchee_id, as: :hidden, input_html: { value: matchee.id } %>
          <%= f.input :status, as: :hidden, input_html: { value: 'matchmaker_matched' } %>

          <%= f.input :content, label: 'Write a message to your friend', as: :text, input_html: { row: 3 } %>

          <%= f.button :submit, 'Send Match', class: "btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
