<h1> Dates </h1>
<div class="cards">
  <% @dates.each do |date| %>
    <% if current_user.id == date.friend.id %>
      <div class="card" data-id=<%= date.id %>>
        <%= image_tag date.matchee.photo, class: 'img-fluid' %>
        <div class="card-body">
          <%= render "shared/date_card_friend", date: date, display_button: false %>
        </div>
      </div>
    <% else%>
      <div class="card" data-id=<%= date.id %>>
        <%= image_tag date.friend.photo, class: 'img-fluid' %>
        <div class="card-body">
          <%= render "shared/date_card_matchee", date: date, display_button: false %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
