<div class="dashboard-container">
  <br><br>
  <h2> <%= current_user.name %> </h2>
  <h3> Joined December 2019 </h3>
  <p><%= render "shared/medium_avatar", user: current_user %></p>
  <p><%= render "shared/single_button" %><%= render "shared/matchmaker_button" %></p>
  <br>
  <%= link_to 'Review My Matches', user_matches_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to 'Matchmaker Chat', class: "large_button" %>
  <br>
  <br>
  <%= link_to "Update My Availability", new_user_availability_pick_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to "Add a Matchmaker", class: "large_button" %>
  <br>
  <br>
  <%= link_to "Manage My Matchmakers", class: "large_button" %>
  <br>
  <br>
  <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "large_button") %>
  <br>
  <br>
  <br>

  <h2>My Friends</h2>
  <br>
  <% current_user.friends.each do |friend| %>
    <p class="friends-button">
      <%= render "shared/medium_avatar", user: friend %>
    <h2> <%= friend.name %> Williamson </h2>
    <h3> Joined December 2019 </h3>
    <br>
    <p> <%= link_to "<i class='fas fa-comments fa-1x'></i> Chat with #{friend.name}".html_safe, new_user_friend_match_path(friend), class: "large_button" %> </p>
    <p> <%= link_to "<i class='fas fa-heart fa-1x'></i> Find #{friend.name} Matches".html_safe, new_user_friend_match_path(friend), class: "large_button" %> </p>
    <p> <%= link_to "<i class='fas fa-trash-alt fa-1x'></i> Delete Matchmaker".html_safe, new_user_friend_match_path(friend), class: "large_button" %> </p>
    </p>
  <% end %>
  <br>
  <br>
