<div class="dashboard-container">
  <div class="container">
    <div class="slick">
      <% current_user.friends.each do |friend| %>
        <%= render 'friends/card', friend: friend %>
      <% end %>
    </div>
  </div>

  <br><br>
  <h2> <%= current_user.name %> </h2>
  <p><%= render "shared/medium_avatar", user: current_user %></p>
  <p><%= render "shared/single_button" %><%= render "shared/matchmaker_button" %></p>
  <h3> Joined December 2019 </h3>
  <br>
  <%= link_to 'Review My Matches', user_matches_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to 'My Dates', user_dates_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to 'Matchmaker Chat', class: "large_button" %>
  <br>
  <br>
  <%= link_to "Update My Availability", new_user_availability_pick_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to "# Add a Matchmaker", user_matches_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to "# Manage My Matchmakers", user_matches_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "large_button") %>
