<div class="availability">
  <h1>My Date Availability</h1>
  <%= simple_form_for :availability_picks, url: user_availability_picks_path do |f| %>
    <div class="availability-options">
      <div class="availability-thursday">
        <fieldset class="form-group availability_thursday_times">
          <legend class="col-form-label pt-0">Thursday</legend>
          <%= render "forms/checkbox_switch", weekday: "thursday", value: "12", label: "12:00pm" %>
          <%= render "forms/checkbox_switch", weekday: "thursday", value: "20", label: "8:00pm"  %>
        </fieldset>
      </div>

      <div class="availability-friday">
        <fieldset class="form-group availability_friday_times">
          <legend class="col-form-label pt-0">friday</legend>
          <%= render "forms/checkbox_switch", weekday: "friday", value: "12", label: "12:00pm" %>
          <%= render "forms/checkbox_switch", weekday: "friday", value: "20", label: "8:00pm"  %>
        </fieldset>
      </div>

      <div class="availability-saturday">
        <fieldset class="form-group availability_saturday_times">
          <legend class="col-form-label pt-0">saturday</legend>
          <%= render "forms/checkbox_switch", weekday: "saturday", value: "12", label: "12:00pm" %>
          <%= render "forms/checkbox_switch", weekday: "saturday", value: "20", label: "8:00pm"  %>
        </fieldset>
      </div>
    </div>
    <%= f.button :submit, 'Update', class: "large_button" %>
  <% end %>
</div>



