<div class="container">
  <% @available_matchees.each do |matchee| %>
    <div class="card" data-id=<%= matchee.id %>>
      <%= image_tag matchee.photo, style:"width: 273px;" %>
      <div class="card-body">
        <%= render "shared/card", matchee: matchee %>
        <!-- Behavior of reject! -->
        <!-- Remove element from the list -->

        <div class="d-flex justify-content-between">
          <%= render "shared/modal_reject", match: @match, matchee: matchee %>
          <!-- Behavior of accept! -->
          <!-- Trigger the modal form -->
          <!-- Fill the matchee_id in the form, with the selected matchee id -->
          <%= render "shared/match_button_with_modal", match: @match, friend: @friend, matchee: matchee %>
        </div>
      </div>
    </li>
  <% end %>
</div>
