<div class="container">
  <h1>Datesy</h1>
    <p><strong><%= current_user.name %></strong>, choose your friend from the list below.</p>
    <p>Friend: <strong><%= @friend.name %></strong></p>
    <% @available_matchees.each do |matchee| %>
      <data-id=<%= matchee.id %>>
        <p><%= render "shared/card", matchee: matchee %></p>
        <!-- Behavior of reject! -->
        <!-- Remove element from the list -->
        <%= render "shared/modal_reject", match: @match, matchee: matchee %>
        <!-- Behavior of accept! -->
        <!-- Trigger the modal form -->
        <!-- Fill the matchee_id in the form, with the selected matchee id -->
        <%= render "shared/modal", match: @match, matchee: matchee %>
    <% end %>
</div>
