<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Datesy - The days of endless swiping are over</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->


    <meta name="description" content="atesy - The days of endless swiping are over">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Datesy - The days of endless swiping are over" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.datesy.app" />
    <meta property="og:image" content="https://imgur.com/a/HzP6OPK" />
    <meta property="og:description" content="Let Datesy set you up. Unlock the power of matchmmakers." />
    <meta property="og:site_name" content="Datesy" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Datesy - The days of endless swiping are over">
    <meta name="twitter:site" content="DEFAULT_META[twitter_account]">
    <meta name="twitter:title" content="meta_title">
    <meta name="twitter:description" content="meta_description">
    <meta name="twitter:creator" content="DEFAULT_META[twitter_account]">
    <meta name="twitter:image:src" content="https://i.imgur.com/4x2Mp4F.jpg">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
